# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# pyenv
.python-version

# Environments
#.env
.venv

# logs
*.log

# macOS specific
.DS_Store

# UI
AzanUI/

#Dev and Test
Dev/
Test/

# Dynamic Configurations
config/*.json
!config/config.json
!config/system.json
